<table class={{class_name}}>

    <thead>
    <tr>
        {% for t in table_headers %}
        <th>{{ t }}</th>
        {% endfor %}
        <th> Remove</th>
    </tr>
    </thead>

    <tbody>
    {% for key, value in cart.items %}
    <tr>

        {% for key1, value1 in value.items %}
        {% if key1 == "Image" %}
        <td>
            <a href="{% url 'store:product' key %}">
                <img src="{{ value1 }}">
            </a>
        </td>
        {% else %}

        <td>{{ value1 }}</td>
        {% endif %}
        {% endfor %}

        <td>
            <form action="{% url 'cart_remove' key %}">
                <button class="remove"> Remove</button>
            </form>
        </td>

    </tr>
    {% endfor %}
    </tbody>

    <tfoot>
    <tr>
        <td colspan="5"></td>
        <td>{{ total_sum }} $</td>
    </tr>
    </tfoot>

</table>