{% extends "base.html" %}

{% load static %}
{% block extra_style %}
<link type="text/css"
      href="{% static 'orders/css/orders.css' %}" rel="stylesheet">
{% include 'blocks/form_styles.html' %}
{% endblock extra_style %}

{% block content %}

{% if error_messages %}
<div>
    {% for msg in error_messages %}
    <p class="error">{{ msg }}</p>
    {% endfor %}
</div>
{% endif %}

{% if warning_messages %}
<div>
    {% for msg in warning_messages %}
    <p class="warning">{{ msg }}</p>
    {% endfor %}
</div>
{% endif %}

{% if cart %}

{% with class_name='table_order' %}
{% include 'blocks/cart/table.html' %}
{% endwith %}


{% with btn_class='place_order' %}
{% include 'blocks/form.html' %}
{% endwith %}


{% else %}
{% include 'blocks/cart/empty_cart.html' %}
{% endif %}

{% endblock content%}